<h1>{{title}}</h1>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables Ejemplo con Bootstrap 5 (Preview) y API Rest</title>	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
</head>
<h1> Registros</h1>
    <p >
        <div class="container">
            <h1>Lista de Registros</h1>
            {{#if registros }}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tiempo (Día, Mes, Fecha, Hora de ingreso )</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# each registros}}
                        <tr>
                            <td><a href="/usuarios/show/{{ id }}">{{ id }}</a></td>
                            <td>{{ Tiempo }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{~^~}}
                <div>Registros no encontrados.</div>
            {{/if}}
        </div>
    </p>
