<!DOCTYPE html>
<html>
    <head>
        <title>Detalle de Usuario</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/registros">Lista de Usuarios</a></h3>
            <h1>Detalle de Usuario</h1>
            <table>
                <tbody>
                    <tr>
                        <td>ID</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
